.game-menu-items-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
}

.game-menu-item {
  position: relative;
  background-color: var(--button_content);
  margin-bottom: 10px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  width: calc(100% - 20px);
  max-width: 500px;
  transition: 0.2s;
  cursor: pointer
}

@media (min-width: 700px) {
    .game-menu-items-body {
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .game-menu-item {
        width: calc(50% - 30px);
        max-width: 500px;
    }
}

@media (hover:hover) {
  .game-menu-item:hover {
      background: var(--button_content_hover);
  }    
}

.game-menu-item:active {
  background: var(--button_content_active);
  transform: scale(0.98);
}

.game-menu-item > p {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.211);
    padding-bottom: 4px;
}

.game-menu-item-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.game-menu-item-body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-menu-item-body-item > h1 {
    margin: 5px;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.6;
}

.game-menu-item-body-item > p {
    margin: 5px;
    text-transform: uppercase;
    font-size: 16px;
}

.lock-lvls {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.359);
    align-items: center;
    justify-content: center;
}

.game-item-body {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86px;
  height:86px;
  padding: 3px;
  margin: 5px;
  border-radius: 8px;

  padding: 5px;
  background-color: rgba(240, 248, 255, 0.4);
  cursor: pointer;
  transition: 0.2s;
}

@media (hover:hover) {
  .game-item:hover {
      background: rgba(130, 156, 178, 0.881)!important;
  }    
}

.game-item:active {
    background-color: rgba(147, 176, 201, 0.881)!important;
    transform: scale(0.97);
}

.game-item > img {
    width: calc(80% - 16px);
    height: calc(80% - 16px);
}
.game-body {
  display: grid;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 60px 1fr 60px;
}

.game-body > img {
  margin: auto auto;
  background-color: rgba(240, 248, 255, 0.584);
  border-radius: 15%;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 200px;
}

.help-menu-item {
  cursor: pointer;
  display: flex;
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: var(--button_content);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

@media (hover:hover) {
.help-menu-item:hover {
    background: var(--button_content_hover);
}    
}

.help-menu-item:active {
  background-color: var(--button_content_active);
  transform: scale(0.97);
}

.game-result {
    margin-top: 20px;
    height: 100%;
}

.game-result-string {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.game-keyboard {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  bottom: 0;
  width: calc(100% - 20px);
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}

.game-word {
  display: flex;
  border-radius: 5px;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: rgba(240, 248, 255, 0.477);
  transition: 0.2s;
  cursor: pointer;
}

.game-keyboard-word {
  display: flex;
  border-radius: 5px;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 40px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: rgba(240, 248, 255, 0.477);
  cursor: pointer;
  transition: 0.2s;
}


@media (hover:hover) {
  .game-keyboard-word:hover {
    opacity: 0.8;
  }    

  .game-word:hover {
    opacity: 0.8;
  }  
}


.game-keyboard-word:active {
  opacity: 0.7;
  transform: scale(0.98);
}

.game-word:active {
  opacity: 0.7;
  transform: scale(0.98);
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}


.win-panel {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 30, 30, 0.551);
  z-index: 10000;
  backdrop-filter: blur(3px);
}


.win-panel-text {
    position: fixed;
    bottom: 45vh;
    width: 100vw;
    text-align: center;
    font-size: 25px;
    animation: win 2s cubic-bezier(0.19, 0, 0, 1);
}

.win-panel-text-container {
  background-color: #88839cea;
  border-radius: 8px;
  padding: 10px 20px;
  width: max-content;
  margin: auto auto;

  -webkit-box-shadow: 0px 0px 32px 22px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 32px 22px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 32px 22px rgba(34, 60, 80, 0.2);
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #036afb 29%,
    #ff1361 67%,
    #00a2ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
    font-size: 30px;
    margin: 0;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
 
@keyframes win {
    0% {
        transform: rotateZ(0deg);
        bottom: 105vh;
    }
    100% {
        transform: rotateZ(720deg);
        bottom: 45vh;
    }
}

@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }
  
  .firework:nth-child(4) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(4),
  .firework:nth-child(4)::before,
  .firework:nth-child(4)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.45s;
  }
  

  .firework:nth-child(5) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(5),
  .firework:nth-child(5)::before,
  .firework:nth-child(5)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 60%;
    top: 80%;
    animation-delay: -0.15s;
  }
  
  .firework:nth-child(6) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(6),
  .firework:nth-child(6)::before,
  .firework:nth-child(6)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 60%;
    top: 40%;
    animation-delay: -0.6s;
  }
  
  .firework:nth-child(7) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(7),
  .firework:nth-child(7)::before,
  .firework:nth-child(7)::after {
    --color1: rgb(255, 0, 43);
    --color2: rgb(245, 224, 255);
    --color3: rgb(203, 173, 230);
    --color4: PaleTurquoise;
    --color5: rgb(135, 143, 235);
    --color6: lavender;
    --finalSize: 50vmin;
    left: 60%;
    top: 30%;
    animation-delay: -0.65s;
  }
  

  .GameResult {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .GameResultCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--button_content);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    animation: showGameResultCard 0.3s forwards;
    box-sizing: border-box;
    max-width: 350px;
  }
  
  .GameResultCard > p {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }
  
  .GameResultCard > h1 {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
  }
  
  @keyframes showGameResultCard {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }