.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: auto auto;
}

.main-menu-items {
    cursor: pointer;
    background-color: var(--button_content);
    border-radius: 8px;
    box-shadow: 0 0 8px 5px rgb(34 60 80 / 20%);
    color: #f2f2f2;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
}

@media (hover:hover) {
    .main-menu-items:hover {
        background: var(--button_content_hover);
    }    
}

.main-menu-items:active {
    background: var(--button_content_active);
    transform: scale(0.97);
}

.bottom-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottom-menu > svg {
    margin: 10px;
}

.bottom-image {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.bottom-image > img {
    width: 80%;
    max-width: 350px;
}

.top-data {
    position: relative;
    width: 100vw;
}

.favorite-item {
    background: var(--button_content_active);
    display: flex;
    padding: 5px;
    position: absolute;
    left: 5px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.bulb-item {
    display: flex;
    background: var(--button_content_active);
    padding: 5px;
    position: absolute;
    right: 5px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

@media (hover: hover) {
    .bulb-item:hover {
        background: var(--button_content_hover);
    }
}

.bulb-item:active {
    background: var(--button_content);
    transform: scale(0.97);
}

.favorite-item > p {
    margin: 0;
    margin-right: 5px;
}


.bulb-item > p {
    margin: 0;
    margin-right: 5px;
}